In [36]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [37]:
# nos conectamos a la base de datos
engine = db.create_engine("mysql://root:root@172.16.5.4:3310/dw_netflix")
conn = engine.connect()

In [38]:
df_fact = pd.read_sql('SELECT * FROM FactWatchs', con = conn)
df_fact.head()

    userID   movieID  rating           timestamp
0  1002331  80192187     4.8 2024-03-08 20:50:00
1  1002331  80210920     4.7 2024-03-12 17:18:29
2  1002331  81157374     4.9 2024-02-23 04:37:19
3  1002332  80192187     0.5 2024-02-07 10:45:21
4  1002332  80210920     1.2 2024-03-03 11:41:04

In [33]:
df_user = pd.read_sql('SELECT * FROM dimUser', con= conn)
df_user.head()

    userID     username    country subscription
0  1002331      user123        USA      Premium
1  1002332  gamerGirl97     Canada        Basic
2  1002333   techMaster         UK      Premium
3  1002334    soccerFan     Brazil        Basic
4  1002335    travelBug  Australia      Premium

In [34]:
df_movie = pd.read_sql('SELECT * FROM dimMovie', con= conn)
df_movie.head()

,movieID,title,releaseMovie,gender,participantName,roleparticipant,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,Oscar
1,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,Oscar
2,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,Grammy

In [39]:
# vamos a calcular de la tabla factwatch el raiting promedio por pelicula y el raiting promedio por usuario
# raiting promedio promedio por pelicula
rating_por_pelicula = df_fact.groupby('movieID')['rating'].mean()
rating_por_pelicula.head()

movieID
80192187    2.840
80210920    2.925
81157374    2.645
Name: rating, dtype: float64

In [41]:
# raiting promedio promedio por pelicula
rating_movie = df_fact[['movieID','rating']]
rating_movie = rating_movie.groupby('movieID').sum('rating') / rating_movie.groupby('movieID').count()['rating']
print(type(rating_movie))

<class 'pandas.core.frame.DataFrame'>

In [42]:
rating_por_pelicula = df_fact[['movieID','rating']].groupby('movieID').mean()
rating_por_pelicula = rating_por_pelicula.reset_index()
rating_por_pelicula

    movieID  rating
0  80192187   2.840
1  80210920   2.925
2  81157374   2.645

In [43]:
# por usuario 
rating_por_usuario = df_fact[['userID','rating']].groupby('userID').mean()
rating_por_usuario = rating_por_pelicula.reset_index()
rating_por_usuario

   index   movieID  rating
0      0  80192187   2.840
1      1  80210920   2.925
2      2  81157374   2.645

In [50]:
# promedio de raiting por usuarios Premium 
filtered_df_user = df_user[df_user['subscription'] == "Premium"]
user_fact_merged = df_fact.merge(filtered_df_user, on="userID")
promedio_user_fact = user_fact_merged.groupby('userID')['rating'].mean()
promedio_user_fact = promedio_user_fact.reset_index()
promedio_user_fact.head()

    userID    rating
0  1002331  4.800000
1  1002333  2.533333
2  1002335  1.066667
3  1002337  2.300000
4  1002339  3.233333

In [51]:
promedio_tipo = df_fact.merge(df_user.query("subscription == 'Premium'"), on='userID').groupby('userID')['rating'].mean()
promedio_tipo

userID
1002331     4.800000
1002333     2.533333
1002335     1.066667
1002337     2.300000
1002339     3.233333
10023311    2.233333
10023313    1.900000
10023315    3.433333
10023317    4.000000
10023319    3.033333
Name: rating, dtype: float64

In [ ]:
#castiar una variable

In [64]:
# Promedio de rating por pelicula en este periodo de tiempo
fecha_inicio = '2024-02-01'
fecha_final = '2024-02-07'
promedio_movies_dates_filtered = df_fact[(df_fact['timestamp'] >= fecha_inicio) & (df_fact['timestamp'] <= fecha_final)]
promedio_movies_dates = promedio_movies_dates_filtered.groupby('movieID')['rating'].mean()
promedio_movies_dates = rating_por_pelicula.reset_index()
promedio_movies_dates.head()

   index   movieID  rating
0      0  80192187   2.840
1      1  80210920   2.925
2      2  81157374   2.645

In [65]:
#quiero saber el promedio de rating en la fecha inicio '2024-02-01' fecha final = '2024-02-07'
df_fact.info()


# Promedio de rating por pelicula en este periodo de tiempo
df_fact.query("timestamp >= '2024-02-01' & (timestamp <= '2024-02-07')").groupby('movieID', as_index= False)['rating'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userID     60 non-null     int64
 1   movieID    60 non-null     object
 2   rating     60 non-null     float64
 3   timestamp  60 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 2.0+ KB

    movieID  rating
0  80192187     3.9
1  80210920     0.9
2  81157374     4.1